.input{
  background-color: #DEDDFA;
  border-radius: 50px;
  margin-left: 10px;
  width: 80%;
  height: 50px;
}

.button{
  background-color: blue;
  border-radius: 50px;
}

.grid-entity {
  width: 388px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

