<body>
  <app-header-cbit></app-header-cbit>
  <div class="container">
    <p class="tittle-text-1">ACEPTACIÓN TÉRMINOS Y CONDICIONES TRANSFERENCIAS<br /></p>
    <p>CONDICIONES ESPECÍFICAS PARA ENVIAR DINERO</p>
    <ol class="text-1">
      <li>
        El Cliente es el exclusivo responsable por la exactitud en el
        diligenciamiento del número de celular en el formulario de registro de
        la cuenta CBIT Bank, ya que es indispensable para la verificación de
        datos de las transacciones a realizar, y por ende asumirá las
        consecuencias derivadas del incumplimiento de esta obligación o aquellas
        derivadas de cualquier otro error atribuible al Cliente.
      </li>
      <li>
        Una vez ordenada la transacción para la realización del envío del
        dinero, el Cliente acepta que el Banco realice el débito de la cuenta
        origen.
      </li>
      <li>
        Los dineros transferidos no serán sujetos de rendimientos financieros
        durante el tiempo en que se realiza la transferencia y que el
        destinatario la acepta.
      </li>
      <li>
        La instrucción generada por el Cliente se entenderá como atendida una
        vez se debiten los fondos de la cuenta y se acrediten en la cuenta
        destino para las operaciones de pago de productos bajo la cuenta
        seleccionada.
      </li>
      <li>
        El Cliente podrá cancelar sus solicitudes de transferencia en cualquier
        momento si no las procesa CBIT Bank, y si no se hubieren abonado los
        recursos.
      </li>
      <li>
        CBIT Bank podrá rechazar las transferencias cuando la cuenta a debitar
        se encuentre sin fondos suficientes para cumplir con las transferencias.
      </li>
      <li>
        CBIT Bank no está en la obligación de otorgar al Cliente facilidades de
        crédito para la ejecución de las operaciones registradas.
        El Cliente deberá contar con los fondos suficientes y disponibles para
        la atención de tales operaciones.
      </li>
    </ol>
    <p class="text-2">
      Con la aceptación de los presentes términos y condiciones del servicio, el
      CLIENTE autoriza a CBIT Bank realizar transferencias, originadas desde una
      de sus cuentas vinculadas a CBIT Bank para este fin. Autorización para el
      Tratamiento de la Información Personal (Ley 1581 de 2012) De manera libre,
      voluntaria y expresa autorizo a CBIT Bank para que lleve a cabo el
      tratamiento de mis datos personales. En virtud de dicha autorización de
      tratamiento, CBIT Bank podrá recolectar, almacenar, usar, circular,
      transferir, trasmitir, suprimir y/o actualizar mis datos e información
      personal, la cual, es suministrada por mí a través de los canales
      respectivos. Mis datos e información personal podrán ser sujetos de
      tratamiento por CBIT Bank bajo Encargados o Personas Responsables a
      quienes él les haya transmitido o transferido la información. En ese
      sentido, el tratamiento por la presente autorización permitido a CBIT Bank
      y a quien tenga la calidad de Encargado o Persona Responsable podrá tener
      por objeto las finalidades legítimas de: i) cumplir las obligaciones
      contractuales y reglamentarias, así como para la prestación de los
      servicios contratados; ii) atender y dar solución a las solicitudes,
      peticiones, quejas o reclamos formulados al Banco; iii) crear y actualizar
      los perfiles transaccionales; iv) realizar gestiones comerciales; v)
      ofrecer productos o servicios, propios o de terceros; vi) realizar labores
      para que se avalen, afiancen o garanticen las operaciones; vii) realizar
      labores para que se origine mi vinculación al Banco como Cliente de uno o
      varios productos y servicios financieros pudiendo compartir información
      con terceros, tales como, Compañías Aseguradoras, Intermediarios de
      Seguros, Instituciones Educativas, Concesionarios, y Entidades Públicas
      y/o Privadas de cualquier naturaleza con las que se tengan Convenios de
      Libranza y/u otro tipo de alianzas comerciales, entre otros; viii)
      informar sobre los cambios realizados a los productos y servicios del
      portafolio del Banco; ix) informar sobre las campañas y estrategias
      promocionales y de mercadeo; x) analizar las tendencias y comportamientos
      de consumo de los consumidores financieros; xi) recibir información,
      ofertas comerciales y publicitarias de productos del Banco y de aliados de
      éste; xii) recibir cualquier tipo de información y/o comunicación que el
      Banco estime necesario; y, xiii) se adelanten todos los procesos de
      relacionamiento con el cliente (soportados o no en tecnología), para un
      abordaje integral con todos mis productos y soluciones contratadas con
      CBIT Bank, entre otros permitidos por la Ley. Conozco y entiendo que las
      respuestas a las preguntas sobre el tratamiento de datos sensibles son
      facultativas. Como Titular de la información tengo derecho a conocer,
      actualizar y rectificar mis datos personales, solicitar prueba de la
      autorización otorgada para el tratamiento de la información, informarme
      sobre el uso que se ha dado a los mismos, revocar la autorización,
      solicitar la supresión de mis datos cuando sea procedente y acceder en
      forma gratuita a los mismos. En virtud de la presente autorización el
      responsable del tratamiento de la información es CBIT Bank. La presente
      autorización se hace extensiva a quien represente los intereses de CBIT
      Bank y a quien la Entidad ceda sus derechos, obligaciones o su posición
      contractual a cualquier título, en relación con los productos o servicios
      de los que soy titular. Para ejercer los derechos sobre sus datos
      personales puede comunicarse a la línea de Atención en Bogotá: (601)
      6000080 ext. 1231. Para conocer nuestra política de privacidad visite
      https://periferiaitgroup.com/
    </p>
  </div>
  <app-btn-cbit
    [text]="'Continuar'"
    [type]="'button'"
  >
  </app-btn-cbit>
</body>
