<body>
  <!-- LOADING -->
  <div class="loading">
    <div class="logo">
      <img src="../../../assets/LogoCbit.png" alt="Logo Cbit" />
    </div>
    <div class="nombre-empresa"><span>CBIT</span>Bank</div>
  </div>

  <!-- PANTALLA LOGIN -->

  <div class="login">
    <app-header-login></app-header-login>

    <!-- FORM LOGIN -->
    <div class="container container-login" *ngIf="!showPasswordForm">
      <form
        [formGroup]="formLogin"
        class="form-login"
        (ngSubmit)="formLogin.valid && showPassword()"
      >
        <div class="campos-labels">
          <label for="docType" class="form-label">Tipo de documento</label>
          <div class="input-group">
            <select class="form-select" formControlName="docType">
              <option selected disabled>Selecciona una opción</option>
              <option
                *ngFor="let tipo of tiposIdentificacion"
                [value]="tipo.idTipoIdentificacion"
              >
                {{ tipo.nombre }}
              </option>
            </select>
            <span class="input-group-text"
              ><i class="bi bi-person-vcard"></i
            ></span>
          </div>
        </div>

        <div class="campos-labels">
          <label for="docNumber" class="form-label">Número de documento</label>
          <div class="input-group">
            <input class="form-control" formControlName="docNumber" />
            <span class="input-group-text"><i class="bi bi-123"></i></span>
          </div>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="!clienteExiste">
          Usuario o contraseña incorrectos
        </div>

        <app-btn-cbit
          [text]="'Continuar'"
          [type]="'submit'"
          [disabled]="formLogin.invalid"
          [routerLink]="'/'"
        ></app-btn-cbit>
      </form>

      <div class="texto-final login">
        <p>¿No tiene una cuenta? <a>Regístrese</a></p>
      </div>
    </div>

    <!-- FORM PASSWORD -->
    <div class="container container-password" *ngIf="showPasswordForm">
      <form
        [formGroup]="formPassword"
        class="form-password"
        (ngSubmit)="formPassword.valid && login()"
      >
        <div class="campos-labels">
          <label for="password" class="form-label">Ingrese su clave</label>
          <div class="input-group">
            <input class="form-control" formControlName="password" type="password"/>
            <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
          </div>
        </div>
        <div class="texto-final password">
          <a>¿Olvidó su contraseña?</a>
        </div>

        <app-btn-cbit
          [text]="'Iniciar sesión'"
          [type]="'submit'"
          [disabled]="formPassword.invalid"
          [routerLink]="'/'"
        ></app-btn-cbit>
      </form>
    </div>
  </div>
</body>
