<!-- COMPONENTS UTILS -->
<!-- <app-header-cbit></app-header-cbit> -->
<!-- <app-btn-cbit></app-btn-cbit> -->
<!-- <app-indicator></app-indicator> -->
<!-- <app-item-registro></app-item-registro> -->
<!-- <app-back></app-back> -->
<!-- <app-header-login></app-header-login> -->

<!-- PAGES -->
<!-- <app-menu-registration></app-menu-registration> -->
<!-- <app-form-registration></app-form-registration> -->
<!-- <app-loading-begin></app-loading-begin> -->
<!-- <app-login></app-login> -->
<!-- <app-form-phone-confirm></app-form-phone-confirm> -->

<!-- MARKETPLACE -->
<!-- <app-list-product></app-list-product> -->
<!-- <app-detail-product></app-detail-product> -->
<!-- <app-cart></app-cart> -->
<!-- <app-header-marketplace></app-header-marketplace> -->
<!-- <app-product></app-product> -->

<!-- <app-grid-entity></app-grid-entity> -->
<app-select-entity></app-select-entity>