<body>
    <app-header-cbit></app-header-cbit><br>
    <div class="container">
        <p>Elige tu Banco</p>
        <div class="box">
            <div class="container-1">
                <input type="search" id="search" class="search" placeholder="Digita el nombre de la entidad" />
                <span class="icon">
                    <i class="fa">
                        <img src="../../../assets/search-button.png" width="50" height="50" frameborder="0"
                            scrolling="no" title="search-button">
                    </i>
                </span>
            </div>
        </div>
        <app-grid-entity></app-grid-entity>
    </div>
</body>