<app-header-marketplace></app-header-marketplace>
<div class="container">
  <div class="titulo-y-carrito">
    <h1 class="titulo">Listado de productos</h1>
    <button type="button" class="btn btn-warning position-relative carrito">
      <i class="bi bi-cart-fill"></i>
      <span *ngIf="carrito.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ carrito.length }}
      </span>
    </button>
  </div>

  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let product of products">
      <app-product
        [product]="product"
        (agregar)="agregarAlCarrito(product)"
      ></app-product>
    </div>
  </div>
</div>
